Repository AteurGames/commandscript, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, documentation

compile
  bin/cmdi
  program.cmdsc
  src/command.cs
Labels: enhancement

Add badge
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Improved error messages; Added some debug statemen
  bin/cmdi
  src/errors.cs
  src/main.cs
Labels: enhancement

Continuation of previuos commit
  src/parse.cs
Labels: enhancement

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

enhancement:
  - src/*
  
documentation:
  - README.md
